@import "reset.css";

.opgg-banner {
  display: flex;
  background-color: #232f46;
}

.opgg-banner__img {
  display: flex;
  background-color: #5383e8;
  padding: 12px 15px;
}

.nav-desktop {
  display: flex;
}

.nav-desktop__lol {
  background-color: #5383e8;
  padding-left: 4px;
  padding-right: 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.nav-desktop__lol .icon {
  width: 24px;
  height: 24px;
}

.nav-desktop__lol span {
  margin-left: 8px;
  font-size: 12px;
  color: white;
}

.nav-desktop__item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 4px;
  color: #c3cbd1;
}

.nav-desktop__item span {
  font-size: 12px;
  margin-left: 8px;
}

.nav-desktop__item .icon {
  width: 24px;
  height: 24px;
}

.nav-desktop a {
  border-radius: 5px;
  background-color: #232f46;
}

.nav-desktop__items {
  display: flex;
}

.desktop {
  position: relative;
}

.desktop div {
  margin-right: 35px;
}

.nav-desktop__item .beta {
  background-color: #ffb900;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 2px 3px;
  font-size: 11px;
  position: absolute;
  left: 32px;
  top: 6px;
}

.nav-desktop__item {
  cursor: pointer;
  text-decoration: none;
}

.nav-desktop__item:hover {
  background-color: #2f4362;
}

.nav-desktop__btn {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
}

.btn-language {
  display: flex;
}

.btn-language button {
  background-color: #232f46;
  border: none;
  cursor: pointer;
}
.btn-language button span {
  font-size: 12px;
  margin-right: 10px;
  color: #c3cbd1;
}

.btn-language button i {
  color: white;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-language img {
  padding: 8px 0;
}

.btn-login {
  margin: 6px 16px;
  background-color: #5383e8;
  color: white;
  padding: 0 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login span {
  font-size: 12px;
}

.btn-language {
  background-color: #232f46;
}

@media (max-width: 1300px) {
  .aggro {
    visibility: hidden;
  }
}

.menu {
  height: 48px;
  background-color: #5383e8;
}

.alert {
  height: 40px;
  background-color: #294174;
}

.alert-item {
  width: 1080px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.alert-item span {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.alert a {
  color: white;
  text-decoration: none;
  width: 1080px;
  margin: 0 auto;
}

.alert a:hover {
  text-decoration: underline;
}

.wrap {
  background-color: #5383e8;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 375px;
  height: 200px;
}

.logo-index {
  padding: 32px 0 24px 0;
}

.menu-li {
  display: flex;
  max-width: 1300px;
  height: 48px;
  margin: 0 auto;
}

.first {
  display: flex;
  align-items: center;
  color: #c3cbd1;
  font-size: 15px;
}

.menu__item {
  display: flex;
  align-items: center;
  color: #c3cbd1;
  font-size: 15px;
  margin-left: 24px;
  letter-spacing: -0.5px;
}

.urf,
.kal {
  color: aqua;
}

.first:hover {
  color: white;
  cursor: pointer;
}

.menu__item:hover {
  color: white;
  cursor: pointer;
}

.target {
  padding: 13px 0;
  margin-top: 1px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.target:hover {
  border-bottom: 3px solid white;
}

.search {
  margin: 0 auto;
  width: 624px;
  background-color: tomato;
  position: relative;
}

.search-input {
  padding: 15px 150px 18px 17px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  color: #788185;
  font-weight: 500;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
}

.search-input:focus {
  outline: none;
}

.kr {
  position: absolute;
  top: 0;
  right: 70px;
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.kr span {
  margin-right: 10px;
  padding: 1px 7px 2px 8px;
  font-size: 11px;
  letter-spacing: -0.4px;
  background-color: #788185;
  color: white;
}

.kr i {
  color: #788185;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0 0;
  font-weight: 600;
  background-color: #00a9ff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.search-btn i {
  color: white;
}

.ad {
  margin: 15px auto 0;
  margin-top: 30px;
}

.ad img {
  display: flex;
  width: 970px;
  margin: 0 auto;
}

.community {
  margin-top: 30px;
  min-height: 396px;
  background-color: white;
  border: 1px solid #e9eff4;
}

.community-header {
  height: 50px;
  border-bottom: 1px solid #f0f0f0;
}

.best-title {
  display: block;
  padding: 17px 0 16px 20px;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.community-left {
  width: 50%;
  height: 344px;
  background-color: white;
}

.community-right {
  width: 50%;
  height: 344px;
  background-color: #ffb900;
}

.community-main {
  display: flex;
}

.commu-contnet {
  width: 100%;
  height: 69px;
  display: flex;
}

.green {
  color: #1ab80c;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal {
  opacity: 0.5;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commu-img {
  padding-top: 6px;
  margin-bottom: 6px;
  margin-right: 20px;
  overflow: hidden;
}

.commu-img img {
  max-width: 100px;
}

.box {
  margin-top: 14px;
}

.box:hover {
  color: #1f8ecd;
  text-decoration: underline;
  cursor: pointer;
}

.box em {
  font-size: 14px;
  color: #0475b8;
}

.text-header {
  font-size: 14px;
}

.sub-header span {
  font-size: 12px;
  opacity: 0.5;
}

.sub-header {
  margin-top: 6px;
}

.sub-header:hover {
  cursor: pointer;
}

.sub-header__time:hover {
  cursor: help;
}

.commu-contnet:hover {
  background-color: #fbfbfb;
}
